name: Edge Case Tests
on:
  push:
  pull_request_target:
    types: [labeled]

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  test-ia-scan-vuln-only:
    if: |
      github.event_name == 'push' ||
      github.event_name == 'schedule' ||
      (github.event_name == 'pull_request_target' &&
      github.event.label.name == 'ok-to-test')
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write
      # only required for workflows in private repositories
      actions: read
      contents: read
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Test basic image scan
        uses: ./
        with:
          falcon_client_id: ${{ vars.FALCON_CLIENT_ID }}
          falcon_region: ${{ vars.FALCON_CLOUD_REGION }}
          scan_type: image
          output_path: image-scan-results/image_scan_results.sarif
          vulnerability_only: true
          image: nginx:latest
          report_formats: sarif
          minimum_severity: medium
        env:
          FALCON_CLIENT_SECRET: ${{ secrets.FALCON_CLIENT_SECRET }}

      - name: Show json scan results
        run: |
          cat image-scan-results/*.json

      - name: Show sarif scan results
        run: |
          cat image-scan-results/*.sarif

      - name: Upload sarif file
        uses: github/codeql-action/upload-sarif@d3ced5c96c16c4332e2a61eb6f3649d6f1b20bb8 # v3.31.5
        with:
          sarif_file: image-scan-results/

  test-ia-scan-sbom-only:
    if: |
      github.event_name == 'push' ||
      github.event_name == 'schedule' ||
      (github.event_name == 'pull_request_target' &&
      github.event.label.name == 'ok-to-test')
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write
      # only required for workflows in private repositories
      actions: read
      contents: read
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Test basic image scan
        uses: ./
        with:
          falcon_client_id: ${{ vars.FALCON_CLIENT_ID }}
          falcon_region: ${{ vars.FALCON_CLOUD_REGION }}
          scan_type: image
          output_path: image-scan-results/image_scan_results.cdx.json
          sbom_only: true
          report_formats: cyclonedx-json
          image: nginx:latest
          minimum_severity: medium
        env:
          FALCON_CLIENT_SECRET: ${{ secrets.FALCON_CLIENT_SECRET }}

      - name: Show scan results
        run: |
          cat image-scan-results/*.cdx.json

  test-ia-scan-json-upload:
    if: |
      github.event_name == 'push' ||
      github.event_name == 'schedule' ||
      (github.event_name == 'pull_request_target' &&
      github.event.label.name == 'ok-to-test')
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write
      # only required for workflows in private repositories
      actions: read
      contents: read
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Test basic image scan
        uses: ./
        with:
          falcon_client_id: ${{ vars.FALCON_CLIENT_ID }}
          falcon_region: ${{ vars.FALCON_CLOUD_REGION }}
          scan_type: image
          output_path: image-scan-results/image_scan_results.json
          vulnerability_only: true
          image: nginx:latest
          report_formats: json
          minimum_severity: medium
        env:
          FALCON_CLIENT_SECRET: ${{ secrets.FALCON_CLIENT_SECRET }}

      - name: Show scan results
        run: |
          cat image-scan-results/*.json

      - name: Upload scan results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          name: image_scan_results.json
          path: ./image-scan-results/
